// - Official colors

// -- Neutral
$color-white: #fff;
$color-black: #000;

$color-gray-lighter: #eef2f6;
$color-gray-light: #f0f0f0;
$color-gray: #7791a2;
$color-gray-dark: #435f71;
$color-gray-darker: #224358;

// -- Grey Alias
$color-grey-lighter: $color-gray-lighter;
$color-grey-light: $color-gray-light;
$color-grey: $color-gray;
$color-grey-dark: $color-gray-dark;
$color-grey-darker: $color-gray-darker;

// -- Primary
$color-blue-lighter: #f2fafd;
$color-blue-light: #ccecfa;
$color-blue: #0596de;
$color-blue-dark: #11689e;

// -- Accent
$color-orange-light: #fff3cc;
$color-orange: #fdc400;
$color-orange-dark: #ff7e00;

$color-yellow-light: #fffacc;
$color-yellow: #ffe500;

$color-turquoise-light: #ccf2fa;
$color-turquoise: #03bddf;
$color-turquoise-dark: #019dba;

// -- Danger
$color-red-light: #fbd3d8;
$color-red: #e62638;
$color-red-dark: #ac0e1d;

// -- Success
$color-green-light: #ddffeb;
$color-green: #17b355;
$color-green-dark: #007c36;

// -- Warning
$color-brown-light: #fef8cb;
$color-brown: #a2800a;
$color-brown-dark: #91730b;

// -- Purple
$color-purple-light: #e8e0f8;
$color-purple: #8a64dd;
$color-purple-dark: #5218d2;

// - Other colors
// Do not use these colors, they correspond to very specific use cases

// -- Social Networks
$color-facebook: #3b5998;
$color-twitter: #55acee;

// -- Google Map Markers
$yellow-marker-fill-color: $color-orange;
$yellow-marker-stroke-color: darken($yellow-marker-fill-color, 5);

$blue-marker-fill-color: $color-blue;
$blue-marker-stroke-color: darken($blue-marker-fill-color, 5);

// -- Functional colors
$telehealth-color: #44f;
$telehealth-gradient: linear-gradient(to top right, $telehealth-color, $color-turquoise);

$list-view-table-border-color: #ddd;

// -- bootstrap replacement
$color-hovered-row-bootstrap: #f5f5f5; //rgba(245, 245, 245, 1)
